
/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
 background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
 background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
.banner{
  text-align: center;
  /*background-image: url("web development.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  max-width: 100%;*/
  margin-top: 70px;
  border-bottom: solid #17a2b8 1px;
}
.portfolio-heading{
  text-align: center;
  padding-bottom: 2px;
}
.portfolio{
  
  padding-left: 170px;
 
  
}

.project{
  margin-bottom: 2px;
  padding-bottom: 8px;
}
.course-title{
  padding-bottom: 5px;
  padding-top: 10px;
  
}

.description{
  text-align: center;
}
.resume-title{
  text-align: center;
}
.footer{
  text-align: center;
  margin-top: 300px;
  border-top: 1px solid #17a2b8;
}
.links{
  padding-top: 5px;
}